<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rockets Software </title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>

<body>
    <div class="jumbotron">
        <h1 class="text-center">Rocket Software v1.0</h1>
    </div>

    <div id="main" class="container-fluid ">
        <div class="row ">
            <div class="col-lg text-center">
                <button type="button" class="btn btn-primary btn-lg btn3d" onclick="startRocket1()">Launch Rocket
                    1</button>
                <p>
                    <button type="button" class="btn btn-success btn-lg btn3d" onclick="accelerateRocketOne()"><span
                            class="far fa-arrow-alt-circle-up"> Accelerate</span></button>
                    <button type="button" class="btn btn-danger btn-lg btn3d" onclick="decelereteRocketOne()"><span
                            class="far fa-arrow-alt-circle-down"></span> Brake</button>
                </p>
                <div id="chartContainer" style="height: 150px; width: 100%;"></div>
                <div class="col">
                    <p id="rocket1Name"></p>
                </div>
            </div>

            <div class="col-lg  text-center">
                <button type="button" class="btn btn-primary btn-lg btn3d" onclick="startRocket2()">Launch Rocket
                    2</button>
                <p>
                    <button type="button" class="btn btn-success btn-lg btn3d" onclick="accelerateRocketTwo()"><span
                            class="far fa-arrow-alt-circle-up"> Accelerate</span></button>
                    <button type="button" class="btn btn-danger btn-lg btn3d" onclick="decelereteRocketTwo()"><span
                            class="far fa-arrow-alt-circle-down"></span> Brake</button>
                </p>
                <div id="chartContainer2" style="height: 150px; width: 100%;"></div>
                <div class="col">
                    <p id="rocket2Name"></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Latest compiled JavaScript -->
    <script src="../controllers/controller.js"></script>
    <script src="../models/rocket.js"></script>
    <script src="../models/engine.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

    <script src="../js/canvasjs.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>