<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rockets Software </title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
        <div class="jumbotron">
                <h1 class="text-center">Rocket Software v1.0</h1>
        </div>

       <!--  buttons -->
     <!-- Start Rockets-->
    <div class="row ">
        <div class="col-lg text-center">
                <button type="button" class="btn btn-primary btn-lg btn3d" onclick="startRocket1()">Launch Rocket 1</button>
            </div>
        <div class="col-lg  text-center">   
                <button type="button" class="btn btn-primary btn-lg btn3d"  onclick="startRocket2()" >Launch Rocket 2</button>
        </div>
    </div>

    <!--Print Results Results -->
<div class="container-fluid">
    <div class="row" id="results">
        <div class="col">
            <p id="Roquets"></p>
        </div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>

    <div class="row" id="results">
        <div class="col">
            <p id="rocket1Name"></p>
        </div>

        <div class="col">
            <p id="rocket2Name"></p>
        </div>
     
    </div>
</div>

      <!-- Latest compiled JavaScript -->


    <script src="../controllers/controller.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"    
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</body>
</html>